#AtualizarTexto {
    font-family: 'Nimbus Mono';
    position: relative;
}

a.format {
    color: #aad;
    text-decoration: none;
    cursor: pointer;
}

.suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    padding-left: 0;
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}