<div class="p-5 overflow-scroll" style="height: 250px; position: relative;">
    <div class="w-100 h-100 p-5" id="AtualizarTexto" contenteditable="true">
        <p style="color: #888; text-align: justify">6</p>
    </div>
    <ul class="suggestions" id="suggestionsList" style="display: none;"></ul>
</div>
<p>Key: @key</p>
<span id="rever">.</span>

<script src="js/EditorCena.js" autostart="false"></script>