@page "/nante/{Modo}/{Index:int}"
@inject HostConectado MyHost
@inject ConectorSocket MySocket

@if (IsIniciado)
{
    <TabuleiroNante />
}
else
{
    <div class="d-flex align-items-center align-content-center h-100">
        <button @onclick="IniciarCliente" class="btn btn-sm btn-danger"><i class="bi bi-power"></i></button>
    </div>
}


@code {
    [Parameter]
    public string Modo { get; set; } = string.Empty;
    [Parameter]
    public int Index { get; set; } = 0;

    private Jogador? EuJogador;
    private bool IsIniciado = false;

    public string Mensagem { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        bool result = false;
        if (Modo == "Servidor")
        {
            result = await MySocket.IniciarServidor(Index);
            await SegundoPlanoServidor(result);
        }
        else if (Modo == "Cliente")
        {
            result = await MySocket.ConectarServidor(Index);
            IsIniciado = !IsIniciado;
            _ = Task.Run(() => SegundoPlanoCliente(result));
        }

        if (!result)
        {
            URL.NavigateTo("");
        }
    }

    private async Task IniciarCliente()
    {
        try
        {
            MySocket.EuSocket = new System.Net.WebSockets.ClientWebSocket();
            await MySocket.EuSocket.ConnectAsync(new Uri($"ws://{MyHost.MeuHost[0]}:1909/"), CancellationToken.None);
            IsIniciado = !IsIniciado;

            _ = Task.Run(() => SegundoPlanoCliente(true));
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            await App.Current!.MainPage!.DisplayAlert("Erro", "Ocorreu um erro: " + ex.Message, "Ok");
        }
    }

    private async Task SegundoPlanoServidor(bool resultado)
    {
        while (resultado)
        {
            var context = await MySocket.Servidor!.GetContextAsync();
            if (context.Request.IsWebSocketRequest)
            {
                var wsContext = await context.AcceptWebSocketAsync(null);
                var socket = wsContext.WebSocket;
                MySocket.TodosSocket.Add(socket);

                // Opcional: Mensagem de notificação ao conectar um cliente
                await MySocket.BroadcastToAllClientsAsync($"Novo cliente conectado: {socket.GetHashCode()}");

                // Processa as mensagens recebidas do cliente
                _ = Task.Run(() => MySocket.HandleClientSocketAsync(socket));
            }
        }
    }

    private async Task SegundoPlanoCliente(bool resultado)
    {
        while (resultado)
        {
            Mensagem = await MySocket.ReceiveMessageAsync();
            await InvokeAsync(StateHasChanged);
        }
    }
}
